/* start global rules*/
*{
    box-sizing:border-box;
    box-sizing:border-box;
    box-sizing:border-box;
}
/* end global rules*/
body{
    direction: rtl;
    unicode-bidi: bidi-override;
    background-color: transparent;
    color:#fff;
    font-family: JFflat;   
}


iframe{
    margin: 20px auto 5px auto;
    display: block;
    border: 2px solid #444;
    border-radius: 2px;
}
.indexes{
    
}
.contents{
    padding-right: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.contents:hover{
    transition: all 0.75s linear;
    text-shadow:2px 2px 8px #000000;
}

.contents a{
    color: darkgoldenrod;
}

.quiz{
    border: 2px solid #ddd;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 20px;
    cursor: help;
}

.quiz input{
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer;
}

.quiz div{
    margin:20px 20px;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}
.q1{
    display: none;
}
.q2{
    display: none;
}
.q3{
    display: none;
}
@font-face {
    font-family:JFflat;
    src: url('../fonts/JFflat.ttf');
}

.myimg{
    border:2px solid #535353;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    width: 56%;
    display: block;
    box-shadow: 2px 2px 2px #535353, -2px -2px 2px #535353;
}

.xlmyimg{
    width: 100%;
}

@media(max-width:359px ){/*xx  small*/
    div{
        font-size:5vw;
        font-weight:500;
        line-height: 15px;
    }
    div h1{
        margin:5px -20px 5px 0px;
        padding: 0px;
        font-weight:900;
        font-size:16px;
    }
    
    iframe{
        display: none;
    }
}/*xx small*/

@media(min-width:360px ){/* x small Galaxy s5*/
    div{
        font-size:3vw;
        font-weight:700;
    }
    div h1{
        margin:5px -20px 5px 0px;
        padding: 0px;
        font-weight:900;
        font-size:16px;
    }
    
    iframe{
        width:300px;
        height: 169px;
    }
}/*x small*/

@media(min-width:414px){/* small size as galaxy note 9*/  
div{
        font-size:3vw;
        font-weight:500;
    }
    div h1{
        margin:5px -20px 5px 0px;
        padding: 0px;
        font-weight:500;
        font-size:3.5vw;
        letter-spacing: 1px;
    }
    
    iframe{
        width:400px;
        height:245px;
    }
}/* small size as galaxy note 9*/

@media(min-width: 768px){/*medium size as ipad*/
    div{
        font-size:3vw;
        font-weight:300;
    }
    div h1{
        margin:5px -20px 5px 0px;
        padding: 0px;
        font-weight:800;
        font-size:18px;
    }
    
     iframe{
        width:640px;
        height: 360px;
    }
}/*medium size as ipad*/

@media(min-width: 1024px){/*large size as ipad pro 12inch*/
    div{
        font-size:3vw;
        font-weight:500;
    }
    div h1{
        margin:2px 1px;
        padding: 2px;
        font-weight:500;
        font-size:16px;
    }
    
     iframe{
        width:854px;
        height: 480px;
    }
}/*large size as ipad pro 12inch*/

@media(min-width: 1280px){/* x large size as laptop*/
    div{
        font-size:2vw;
        font-weight:500;
    }
    div h1{
        margin:2px 1px;
        padding: 2px;
        font-weight:900;
        font-size:16px;
    }
    
    iframe{
        width:854px;
        height: 480px;
    }
}/* x large size as laptop*/

@media(min-width: 1440px){/*xx large size as laptop HIDPI*/
    div{
        font-size:2vw;
        font-weight:700;
    }
    div h1{
        margin:2px 1px;
        padding: 2px;
        font-weight:900;
        font-size:16px;
    }
    
    iframe{
        width:1280px;
        height: 720px;
    }
}/*xx large size as laptop HIDPI*/

@media(min-width: 1920px){/*FULL HD 1080 TV*/
    div{
        font-size:1vw;
        font-weight:500;
    }
    div h1{
        margin:2px 1px;
        padding: 2px;
        font-weight:900;
        font-size:16px;
    }
    
    iframe{
        width:1280px;
        height: 720px;
    }
}/*FULL HD 1080 TV*/

@media(min-width: 3840px){/*4K ULTRA HD*/
    div{
        font-size:1vw;
        font-weight:500;
    }
    div h1{
        margin:2px 1px;
        padding: 2px;
        font-weight:900;
        font-size:16px;
    }
    
    iframe{
        width:2560px;
        height: 1440px;
    }
}/*4K ULTRA HD*/

/*Desktop Screen Resolution Stats Worldwide May 2019 – May 2020: 1366×768 – 23.49% */
/*Mobile Screen Resolution Stats Worldwide May 2019 – May 2020: 360×640 – 17.91% */
/*Tablet Screen Resolution Stats Worldwide May 2019 – May 2020 768×1024 – 51.98% */

/*Recommended resolution and aspect ratios
w/l = 0.562
2160p: 3840x2160
1440p: 2560x1440
1080p: 1920x1080
720p: 1280x720
480p: 854x480
360p: 640x360
240p: 426x240*/